<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="components :: head"></div>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="components :: after-login"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <br>
            <div th:if="${param.success}">
                <div class="alert alert-success">You've successfully reset your password</div>
            </div>
            <div th:if="${param.failurenew}">
                <div class="alert alert-danger">Your old and new password must be different</div>
            </div>
            <div th:if="${param.failureold}">
                <div class="alert alert-danger">Your old password is incorrect</div>
            </div>

            <h1>Reset Password</h1>

            <form th:action="@{/change-password}" method="post">
                    <label for="oldPassword"> Old Password </label>
                    <input id="oldPassword" name="oldPassword" class="form-control" type="password" minlength="5"
                           placeholder="Enter old password" required/>

                    <label for="newPassword"> New Password </label>
                    <input id="newPassword" name="newPassword" class="form-control" type="password"  minlength="5"
                           placeholder="Enter new password" required/>

                    <label for="newPassword2"> Confirm Password </label>
                    <input id="newPassword2" class="form-control" type="password"  minlength="5"
                           placeholder="Enter confirm password" required
                           oninput='newPassword2.setCustomValidity(newPassword2.value != newPassword.value ? "Passwords do not match." : "")'/>
                    <br>
                    <p class="text-center">
                        <button type="submit" class="btn btn-success">Change Password</button>
                        <a th:href="@{/}" class="btn btn-danger">Cancel</a>
                    </p>
            </form>
        </div>
    </div>
</div>
<div th:replace="components :: js"></div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; Copyright 2022 Group 1</span>
    </div>
</footer>
</body>
</html>